#content{
    max-width: 1600px;
    width: 900px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: black;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height:725px;
}
body{
    background-color:#F9D45A;
}
header{
    background-color:#97C1D8;
}
nav a:hover{
    background-color: #58574B;
    color: white;
}
.book, .join{
    background-color: #F9D45A;
    color: black;
}
.book:hover, .join:hover{
    background-color: #58574B;
    color: white;
}
#background{
    background-color:#97C1D8;
}
.msg{
    background-color: #97C1D8;
}
footer{
    background-color:#97C1D8;
    color: white;
}
.home-title{
    color: black;
}
h4{
    color:#97C1D8;
}
.msg h2{
    color:#97C1D8;
}
.msg p{
    color: #97C1D8;
}
footer a{
    color:  black;
}
footer a:hover{
    color:#58574B;
}
.logo, .icon{
    width: 80px;
}
#hero-img{
    width: 100%;
}